@page "/cCategorias"

<EditForm Model="Listado">
    <center>
        <h1>Consulta de Categorias</h1>
    </center>

    <form>
        <br />

        <div class="form-row">

            <div class="col-sm-0     col-md-0     col-lg-1     col-xl-1" />

            <!-- Filtro-->
            <div class="form-inline DivConsulta col-sm-12     col-md-6     col-lg-4     col-xl-4">
                <label for="Filtro" class="LabelConsulta     col-sm-3     col-md-2">Filtro: </label>
                <select class="form-control     col-sm-8     col-md-9" @bind="Filtro">
                    <option value="0">Todo</option>
                    <option value="1">Codigo</option>
                    <option value="2">Nombre</option>
                </select>
            </div>

            <!-- Criterio -->
            <div class="form-inline DivConsulta col-sm-12     col-md-6     col-lg-5     col-xl-5">
                <label for="Criterio" class="LabelConsulta     col-sm-3      col-md-2">Criterio: </label>
                <InputText @bind-Value="@Criterio" class="form-control     col-sm-8     col-md-9" placeholder="Criterio" />
                <p class="validation-message"> @Mensaje </p>
            </div>


            <!-- Boton Buscar-->
            <div class="DivConsulta text-center     container     col-sm-12     col-md-12          col-lg-1     col-xl-1">
                <button type="button" class="btn btn-primary" @onclick="Buscar">@*<span class="oi oi-magnifying-glass" />*@ Buscar</button>
            </div>

            <div class="col-sm-0     col-md-0     col-lg-1     col-xl-1" />

            <table class="table" style="margin-top: 20px">
                <thead class="thead-light">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Listado.Count == 0)
                    {
                        <tr>
                            <th colspan="12" style="color:black; text-align: center">"No hay datos que mostrar"</th>
                        </tr>
                    }
                    else
                    {

                        @foreach (var item in Listado)
                        {
                            <tr>
                                <th>@item.CategoriaId</th>
                                <th>@item.Nombre</th>
                                <th><a class="btn btn-sm btn-outline-primary" href="rCategorias/@item.CategoriaId">Ver</a></th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" @onclick="PaginaAnterior">
                            <span class="oi oi-media-skip-backward"></span>
                        </a>
                    </li>

                    @for (int i = 1; i <= TotalPaginas; i++)
                    {
                        <li class="page-item disabled"><a class="page-link">@i</a></li>
                    }

                    <li class="page-item">
                        <a class="page-link" @onclick="PaginaSiguiente">
                            <span class="oi oi-media-skip-forward"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </form>
</EditForm>

@code {
    public CategoriasController categoriasController = new CategoriasController();
    private List<Categorias> Listado { get; set; }

    private string Criterio = string.Empty;
    private string Filtro = string.Empty;
    private string Mensaje = string.Empty;

    Contexto contexto = new Contexto();
	Paginacion paginacion = new Paginacion();

    
	double TotalPaginas = 0;

	double contador = 0;

	public int PagInicial;

    protected override void OnInitialized()
    {
		contador = contexto.Categorias.Count();
		TotalPaginas = Math.Ceiling(contador / paginacion.Mostrar);
        this.Listado = contexto.Categorias.Take(paginacion.Mostrar).ToList();

        Filtro = "0";
    }

    private void PaginaSiguiente()
	{
		PagInicial = 0;
		if (PagInicial < TotalPaginas)
		{
			PagInicial ++;
		}

		Listado = contexto.Categorias
		.Skip(PagInicial * paginacion.Mostrar)
		.Take(paginacion.Mostrar)
		.ToList();
	}


	private void PaginaAnterior()
	{
		PagInicial = 1;
		if (PagInicial > 0)
		{
			PagInicial --;
		}

		Listado = contexto.Categorias
		.Skip(PagInicial * paginacion.Mostrar)
		.Take(paginacion.Mostrar)
		.ToList();
	}



    private void Buscar()
    {
        if (Filtro == "0")
        {
            Listado = categoriasController.GetList(e => true);
        }
        else
        {
            if (Criterio == "")
            {
                Mensaje = "Agregue el criterio de busqueda.";
            }
            else
            {
                Mensaje = "";
                Listado = categoriasController.GetList(e => true);
                switch (Filtro)
                {
                    case "1":
                        Listado = Listado.Where(e => e.CategoriaId.ToString().Contains(Criterio.ToString())).ToList();
                        break;
                    case "2":
                        Listado = Listado.Where(e => e.Nombre.ToUpper().Contains(Criterio.ToUpper())).ToList();
                        break;
                }
            }
        }
    }
}