@page "/"
@namespace ProyectoFinalAplicada2.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProyectoFinalAplicada2</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/materialize/css/materialize.css" />*@

    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    @*<script src="~/materialize/js/materialize.js" asp-append-version="true"></script>*@

</body>
</html>

@*
    @page "/"
    @namespace ProyectoFinalAplicada2.Pages
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/materialize/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <nav>
            <div class="nav-wrapper cyan darken-2">
                <a href="#!" class="brand-logo center">
                    Sistema de Ventas & Facturaci&oacute;n
                </a>

                <div id="menuNavBar1">
                    <ul class="right hide-on-med-and-down">
                        <a asp-area="Usuarios" asp-controller="Usuarios" asp-action="SessionClose">
                            Salir
                        </a>
                    </ul>

                    <a href"#" data-target="slide-out" class="btn-floating btn-large waves-effect waves-light cyan darken-2 sidenav-trigger"></a>
                </div>

            </div>
        </nav>

        @*<ul id="slide-out" class="sidenav">
                <li>
                    <div class="user-view cyan darken-2" id="menuNavBar2">

                        <p class="white-text" id="role1"></p>
                    </div>
                </li>
                <li>
                    <a asp-area="Principal" asp-controller="Principal" asp-action="Index" onclick="">Inicio</a>
                </li>
                <li>
                    <a asp-area="Usuarios" asp-controller="Usuarios" asp-action="Index" onclick="">Usuarios</a>
                </li>
                <li>
                    <a asp-area="Cajas" asp-controller="Cajas" asp-action="Index" onclick="" id="">Cajas</a>
                </li>
                <li>
                    <a asp-area="Usuarios" asp-controller="Usuarios" asp-action="SessionClose">
                        Salir
                    </a>
                </li>
            </ul>

<div id="menuNavBar2">
    <div id="main">
        <div class="wrapper">
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cya-darken-2">
                        <div class="row">
                            <div class="col col s5 m4 16">
                            </div>
                            <div class="col col s8 m8 18">

                            </div>
                        </div>
                    </li>
                    <div class="collection">
                        <a asp-area="Principal" asp-controller="Principal" asp-action="Index" onclick="" id="enlace1" class="collection-item">Inicio</a>

                        <a asp-area="Usuarios" asp-controller="Usuarios" asp-action="Index" onclick="" id="enlace2" class="collection-item">Usuarios</a>

                        <a asp-area="Cajas" asp-controller="Cajas" asp-action="Index" onclick="" id="enlace3" class="collection-item">Cajas</a>
                    </div>
                </ul>
            </aside>
        </div>
    </div>
</div>


<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; 2020 - Sistem Ventas</p>
    </footer>
</div>

@*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Sistem_Venta - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Config.js" asp-append-version="true"></script>
    <script src="~/js/Funciones.js" asp-append-version="true"></script>
    <script src="~/js/UploadImage.js" asp-append-version="true"></script>
    <script src="~/js/Principal.js" asp-append-version="true"></script>
    <script src="~/js/Usuarios.js" asp-append-version="true"></script>
    <script src="~/js/Compras.js" asp-append-version="true"></script>
    <script src="~/js/Ventas.js" asp-append-version="true"></script>
    <script src="~/js/Clientes.js" asp-append-version="true"></script>
    <script src="~/js/Proveedores.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*
<script src="~/materialize/js/materialize.js" asp-append-version="true"></script>

</body>
</html>
*@