@page "/rCategorias"
@inject IToastService toastService

<EditForm Model="Categoria" OnValidSubmit="Guardar">
	<DataAnnotationsValidator />

	<div class="container center">

		<center>
			<h1>Registro de Categorias</h1>
		</center>

			<form>
				<div class="form-row justify-content-center">

					<div class="form-group">
						<label for="Categoriaid">Codigo de Categoria</label>
						<div class="input-group">
							<InputNumber @bind-Value="@Categoria.CategoriaId" class="form-control" />
							<div class="input-group-append">
								<button type="button" class="btn btn-outline-dark" @onclick="Buscar">Buscar</button>
							</div>
						</div>

						<label for="nombre">Nombre</label>
						<InputText @bind-Value="@Categoria.Nombre" class="form-control" placeholder="Nombre" />
						<ValidationMessage For="@(()=>Categoria.Nombre)" />
					</div>

				</div>
			</form>
			<div class="text-center">
				<button type="button" class="btn btn-warning BotonRegistro" @onclick="Limpiar"><span class="oi oi-file" />Limpiar</button>
				<button type="submit" class="btn btn-success BotonRegistro"><span class="oi oi-data-transfer-download"></span>Guardar</button>
				<button type="button" class="btn btn-danger BotonRegistro" data-toggle="modal" data-target="#exampleModal"><span class="oi oi-trash"/>Eliminar</button>


				<!-- Modal-->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Confirmacion</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								¿Está seguro de que desea eliminar esta Categoria?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">¡No lo estoy!</button>
								<button type="button" data-dismiss="modal" class="btn btn-outline-danger" @onclick="Eliminar">¡Si lo estoy!</button>
							</div>
						</div>
					</div>
				</div>
				<!--fin de modal-->
			</div>

	</div>
</EditForm>


@code {
	protected override void OnInitialized()
	{
		Categoria = new Categoria();
	}

	public Categoria Categoria { get; set; }
	public string mensaje;


	CategoriaController controller = new CategoriaController();

	public void Guardar()
	{
		if (controller.Guardar(Categoria))
		{
			Limpiar();
			mensaje = "Categoria Guardada con Exito!!!";
			toastService.ShowSuccess("Categoria Guardada", "Exito");
		}
		else
		{
			Limpiar();
			toastService.ShowError("Error al guardar Categoria.", "Fallo");
		}
	}

	public void Buscar()
	{
		var categoria = controller.Buscar(Categoria.CategoriaId);

		if (categoria != null)
		{
			Categoria = categoria;
		}
		else
		{
			Limpiar();
            toastService.ShowError("Categoria No Existe", "Fallo");
		}
	}

	public void Eliminar()
	{
		var categoria = controller.Buscar(Categoria.CategoriaId);

		if (categoria != null)
		{
			controller.Eliminar(Categoria.CategoriaId);
			Limpiar();
            toastService.ShowSuccess("Categoria eliminada correctamente.", "Exito");
		}
		else
		{
			Limpiar();
            toastService.ShowError("Error al eliminar esta Categoria.", "Fallo");
		}
	}

	public void Limpiar()
	{
		this.Categoria = new Categoria();
		mensaje = "";
	}
}
