@page "/rpago2"
<h3>Rpago2</h3>

<EditForm Model="pagos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <label for="pagoid">Pago Id</label>
    <InputNumber @bind-Value="pagos.PagoId" class="form-control" />

    <div class="form-group row">
        <label class="col-auto" for="cliente">Cliente</label>
        <div class="col-md-6 no-padding">
            <InputSelect @bind-Value="@ClienteSeleccionado" class="form-control " @onchange="CargarCliente" @onclick="CargarCliente">
                <option value="" disabled selected>Seleccione una Categoria</option>
                @foreach (var item in ListadoClientes)
                {
                    <option value="@item.ClienteId">@item.Nombres</option>
                }
            </InputSelect>
        </div>
    </div>
    <InputNumber @bind-Value="pagos.MontoPago"class="form-control"/>
    <ValidationMessage For="(()=>pagos.MontoPago)"/>


    <button type="submit" class="btn btn-outline-primary">Guardar</button>
    <h5>@mensaje</h5>
</EditForm>
@code {
	
        Pagos pagos = new Pagos();
        PagosController pagosController = new PagosController();

        Clientes Cliente = new Clientes();
        List<Clientes> ListadoClientes = new List<Clientes>();
        ClientesController clientesController = new ClientesController();
        string ClienteSeleccionado;

    protected override void OnInitialized()
    {
        pagos = new Pagos();
        ListadoClientes = clientesController.GetList(e => true);
    }

    public Pagos Pagos { get; set; }
    public string mensaje;



    private void Guardar()
    {
        if (pagosController.Guardar(pagos))
        {
            Limpiar();
            mensaje = "Pago Guardado con Exito!!!";

        }
        else
        {
            mensaje = "Error al guardar el Pago";

        }
    }
     private void CargarCliente()
    {
        //try
        //{
        Cliente = clientesController.Buscar(Convert.ToInt32(ClienteSeleccionado));
        pagos.ClienteId = (Cliente != null) ? Cliente.ClienteId : 0;
        //}
        //catch (Exception ex)
        //{
        //    mensaje = ex.ToString();
        ////}
    }

    private void Limpiar()
    {
        this.pagos = new Pagos();
        mensaje = string.Empty;
        ClienteSeleccionado = "0";
    }
}
