@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro de Usuarios";
}


<div class="top-row pl-4 navbar navbar-dark FondoPrincipal">
    <a class="navbar-brand" href="" style="font-size:30px">Soft Business</a>
    @*<button class="navbar-toggler" @onclick="ToggleNavMenu">*@
        <span class="navbar-toggler-icon"></span>
    @*</button>*@
</div>



<h3>@ViewData["Title"]</h3>

<div class="row"> 
    <center>
        <div class="col-md-4">

            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UsuarioId"></label>
                    <input asp-for="Input.UsuarioId" class="form-control" />
                    <span asp-validation-for="Input.UsuarioId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.FechaIngreso"></label>
                    <input asp-for="Input.FechaIngreso" class="form-control" />
                    <span asp-validation-for="Input.FechaIngreso" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Nombres"></label>
                    <input asp-for="Input.Nombres" class="form-control" />
                    <span asp-validation-for="Input.Nombres" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Apellidos"></label>
                    <input asp-for="Input.Apellidos" class="form-control" />
                    <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Usuario"></label>
                    <input asp-for="Input.Usuario" class="form-control" />
                    <span asp-validation-for="Input.Usuario" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Contrasena"></label>
                    <input asp-for="Input.Contrasena" class="form-control" />
                    <span asp-validation-for="Input.Contrasena" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </center>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
