@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro de Usuario";
}

<h4>@ViewData["Title"]</h4>

<div class="form-row center-align">

    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

        <section class="form-register">
            <br />

            <div class="container">
                <div class="ro">
                    <div class="col s12 m7">
                        <div class="card">
                            <div class="card-content">
                                <center>
                                </center>
                                <section>
                                    <div class="col s2 m2">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="input-field col s2">
                                            <label asp-for="Input.Email"></label>
                                            <input asp-for="Input.Email" class="form-control" />
                                            @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                                        </div>
                                        <div class="input-field col s2">
                                            <label asp-for="Input.Password"></label>
                                            <input asp-for="Input.Password" class="form-control" />
                                            @*<span asp-validation-for="Input.Password" class="text-danger"></span>*@
                                        </div>
                                        <div class="input-field col s2">
                                            <label asp-for="Input.ConfirmPassword"></label>
                                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                                            @*<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>*@
                                        </div>
                                        <button type="submit" class="btn btn-primary">Registrar</button>

                                    </div>

                                </section>
                                <br />
                                @*<label id="indexMessage" class="error">@Html.DisplayFor(m => m.e)</label>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
