@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />
@*<div class="col-12">*@
    @*<NavMenu />*@

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="background-color: #000033; boder">
        <LoginControl />
        <a href="https://github.com/lean56/ProyectoFinalAP-2.git" target="_blank">Link del proyecto</a>
    </div>

    <div class="content px-4">

        @Body
    </div>
</div>
