<div class="top-row pl-4 navbar navbar-dark FondoPrincipal">
    <a class="navbar-brand" href="" style="font-size:30px">Soft Business</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pagina Principal
            </NavLink>
        </li>

        <li class="nav-item dropdown px-3"> @*Dropdown de los registros*@

            <NavLink class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Registros
            </NavLink>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <NavLink class="nav-link" href="rUsuarios">
                    <span aria-hidden="true" class="oi oi-person"></span> Registro de Usuarios
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="rClientes">
                    <span aria-hidden="true" class="oi oi-people"></span> Registro de Clientes
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="rProveedores">
                    <span aria-hidden="true" class="oi oi-collapse-right"></span> Registro de Proveedores
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="rCategorias">
                    <span aria-hidden="true" class="oi oi-inbox"></span> Registro de Categorías
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="rProductos">
                    <span aria-hidden="true" class="oi oi-tags"></span> Registro de Productos
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="rEntradas">
                    <span aria-hidden="true" class="oi oi-plus"></span> Entrada de Productos
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="rFacturas">
                    <span aria-hidden="true" class="oi oi-document"></span> Registro de Facturas
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="rPagos">
                    <span aria-hidden="true" class="oi oi-dollar"></span> Registro de Pagos
                </NavLink>

            </div>
        </li>


        <li class="nav-item dropdown px-3"> @*Dropdown de las Consultas*@

            <NavLink class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consultas
            </NavLink>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <NavLink class="nav-link" href="cUsuarios">
                    <span aria-hidden="true" class="oi oi-person"></span> Consulta de Usuarios
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="cCliente">
                    <span aria-hidden="true" class="oi oi-people"></span> Consulta de Clientes
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="cProveedores">
                    <span aria-hidden="true" class="oi oi-collapse-right"></span> Consulta de Proveedores
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="cCategorias">
                    <span aria-hidden="true" class="oi oi-inbox"></span> Consulta de Categorías
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="cProductos">
                    <span aria-hidden="true" class="oi oi-tags"></span> Consulta de Productos
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="cEntradas">
                    <span aria-hidden="true" class="oi oi-plus"></span> Con. de Entrada de Produ.
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="cFacturas">
                    <span aria-hidden="true" class="oi oi-document"></span> Consulta de Facturas
                </NavLink>

                <div class="dropdown-divider"></div>

                <NavLink class="nav-link" href="cPagos">
                    <span aria-hidden="true" class="oi oi-dollar"></span> Consulta de Pagos
                </NavLink>
            </div>
        </li>



    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
