<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Soft Business</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Registros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/rFacturas">Registro de Facturas</a>
                    <a class="dropdown-item" href="/rPagos">Registro de Pagos</a>
                    <a class="dropdown-item" href="/rClientes">Registro de Clientes</a>
                    <a class="dropdown-item" href="/rEntradas">Entrada de Productos</a>
                    <a class="dropdown-item" href="/rProductos">Registro de Productos</a>
                    <a class="dropdown-item" href="/rCategorias">Registro de Categorias</a>
                    <a class="dropdown-item" href="/rUsuario">Registro de Usuarios</a>
                    <a class="dropdown-item" href="/rProveedores">Registro de Proveedores</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Consultas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/cUsuarios">Consulta de Usuarios</a>
                    <a class="dropdown-item" href="/cCliente">Consulta de Clientes</a>

                    <a class="dropdown-item" href="/cProducto">Consulta de Productos</a>
                    <a class="dropdown-item" href="/cFactura">Consulta de Facturas</a>
                    <a class="dropdown-item" href="/cPagos">Consulta de Pagos</a>
                    <a class="dropdown-item" href="/cProveedor">Consulta de Proveedor</a>
                    <div class="dropdown-divider"></div>

                </div>
            </li>

        </ul>
    </div>
</nav>

