<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Lo siento, esta direccion no contiene ninguna informacion.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

