@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlazorApp3</title>
    @*<link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Identity/css/site.css" />*@
    <link rel="stylesheet" href="~/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper cyan darken-2">
                <a class="brand-logo center">
                   SoftBusiness
                </a>
                <div id="menuNavBar1">
      
                    <a href"#" data-target="slide-out" class="btn-floating btn-large waves-effect waves-light cyan darken-2 sidenav-trigger"></a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="center">
            @RenderBody()
        </main>
    </div>
    <br />    <br />    <br />
    <footer class="footer border-top text-muted">
        <div class="container center">
            &copy; 2020 - SoftBusiness - Todos los derechos reservados
        </div>
    </footer>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    <script src="~/materialize/js/materialize.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
